In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime 
import random
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data_dir = 'ml-25m/'
genome_scores_df = pd.read_csv(data_dir + 'genome-scores.csv')
genome_tags_df = pd.read_csv(data_dir + 'genome-tags.csv')
links_df = pd.read_csv(data_dir + 'links.csv')
movies_df = pd.read_csv(data_dir + 'movies.csv')
ratings_df = pd.read_csv(data_dir + 'ratings.csv')
tags_df = pd.read_csv(data_dir + 'tags.csv')

In [3]:
# Check the number of movies watched by each user
ratings_df.groupby('userId').count()

        movieId  rating  timestamp
userId
1            70      70         70
2           184     184        184
3           656     656        656
4           242     242        242
5           101     101        101
...         ...     ...        ...
162537      101     101        101
162538      154     154        154
162539       47      47         47
162540       88      88         88
162541      182     182        182

[162541 rows x 3 columns]

In [4]:
# Example: User 1
id = 1

# Check recent rated movies (5 movies)
recent_movieIds = ratings_df[ratings_df.userId == id].sort_values(by=['timestamp'], ascending=False).movieId[:5].to_list()
recent_movie_df = movies_df[movies_df['movieId'].isin(recent_movieIds)]
recent_movie_df

,movieId,title,genres
292,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
5573,5684,Naqoyqatsi (2002),Documentary
7193,7318,"Passion of the Christ, The (2004)",Drama
7236,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi
9122,27193,Taxi 2 (2000),Action|Comedy

In [5]:
# Check 5-star movies rated by user
top_ratings = ratings_df[(ratings_df.userId == id) & (ratings_df.rating == 5)]
top_movie_df = movies_df[movies_df['movieId'].isin(top_ratings.movieId.to_list())]
top_movie_df

,movieId,title,genres
292,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
303,307,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
654,665,Underground (1995),Comedy|Drama|War
1205,1237,"Seventh Seal, The (Sjunde inseglet, Det) (1957)",Drama
2541,2632,"Saragossa Manuscript, The (Rekopis znaleziony ...",Adventure|Drama|Mystery
2600,2692,Run Lola Run (Lola rennt) (1998),Action|Crime
3470,3569,"Idiots, The (Idioterne) (1998)",Comedy|Drama
3845,3949,Requiem for a Dream (2000),Drama
4040,4144,In the Mood For Love (Fa yeung nin wa) (2000),Drama|Romance
4220,4325,"Night, The (Notte, La) (1960)",Drama
5655,5767,Teddy Bear (Mis) (1981),Comedy|Crime
5904,6016,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller
6588,6711,Lost in Translation (2003),Comedy|Drama|Romance
7236,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi
7653,8154,"Dolce Vita, La (1960)",Drama
7720,8327,Dolls (2002),Drama|Romance
9780,32591,Look at Me (Comme une image) (2004),Comedy|Drama|Romance

In [6]:
# User Profile. The input is a variable named 'id'. We can wrap them up later if necessary. 
print("Personalized Movie Recommender System for User", id)

print("Number of movies watched:", len(ratings_df[ratings_df.userId == id].movieId.unique()))

# 5 recent watched movies, sorted by timestamp
print("Recent watched movies: ")
i = 1
for index, row in recent_movie_df.iterrows():
    print("{}. {} - {}".format(i, row['title'], row['genres']))
    i += 1

# Show the movie list rated by user for 5 stars
print("5-star movies rated by user {}: ".format(id))
i = 1
for index, row in top_movie_df.iterrows():
    print("{}. {} - {}".format(i, row['title'], row['genres']))
    i += 1

# Recommendation system function embedded TBD
print("Recommended movie:")
#TODO

Personalized Movie Recommender System for User 1
Number of movies watched: 70
Recent watched movies:
1. Pulp Fiction (1994) - Comedy|Crime|Drama|Thriller
2. Naqoyqatsi (2002) - Documentary
3. Passion of the Christ, The (2004) - Drama
4. Eternal Sunshine of the Spotless Mind (2004) - Drama|Romance|Sci-Fi
5. Taxi 2 (2000) - Action|Comedy
5-star movies rated by user 1:
1. Pulp Fiction (1994) - Comedy|Crime|Drama|Thriller
2. Three Colors: Blue (Trois couleurs: Bleu) (1993) - Drama
3. Underground (1995) - Comedy|Drama|War
4. Seventh Seal, The (Sjunde inseglet, Det) (1957) - Drama
5. Saragossa Manuscript, The (Rekopis znaleziony w Saragossie) (1965) - Adventure|Drama|Mystery
6. Run Lola Run (Lola rennt) (1998) - Action|Crime
7. Idiots, The (Idioterne) (1998) - Comedy|Drama
8. Requiem for a Dream (2000) - Drama
9. In the Mood For Love (Fa yeung nin wa) (2000) - Drama|Romance
10. Night, The (Notte, La) (1960) - Drama
11. Teddy Bear (Mis) (1981) - Comedy|Crime
12. City of God (Cidade de Deus) (2002) - Action|Adventure|Crime|Drama|Thriller
13. Lost in Translation (2003) - Comedy|Drama|Romance
14. Eternal Sunshine of the Spotless Mind (2004) - Drama|Romance|Sci-Fi
15. Dolce Vita, La (1960) - Drama
16. Dolls (2002) - Drama|Romance
17. Look at Me (Comme une image) (2004) - Comedy|Drama|Romance
Recommended movie: